.titulo{
    align-content: center;
}

.back{
    background-color: #6495ED;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    border-radius: 50px;
    border-width: 20px;
    border-bottom: 7px solid #3271e7;
    border-right: 7px solid #3271e7;
}